<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.notely">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_notely_teal"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_notely_teal_round"
        android:supportsRtl="true"
        android:theme="@style/LightTheme">
        <activity android:name=".Settings"/>
        <activity android:name=".Categories" />
        <activity android:name=".Search" />
        <activity android:name=".AllNotes" />
        <activity android:name=".IndividualCategory" />
        <activity android:name=".Calendar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>